/****   General  styles         ***/
body{
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    color: #3A3960;
    background: linear-gradient(to right, #F5EFFF, #DCCEFF);


}

button, input{
    font-family: "Plus Jakarta Sans", serif;
}


h1, h2, h3{
    font-family: "Karla", serif;
    font-weight: 400;
}

h1{
    font-size: 2rem;
}



/***      Main       **/

main{
    background-color:#CDC1FF ;
    padding:4em;
    border-radius: 1em;
    color: #3A3960;
    box-shadow: 4px 4px 20px rgba(60, 50, 100, 0.2);

    max-width: 90%; /* Prevents it from getting too wide */
    width: 500px; /* Default size */
    text-align: center;
    /* height: 500px; */
    max-height:90% ;

}

main:hover {
    transform: translateY(-5px);
}



form input, form button{
    padding: 0.75em;
    margin: 1em 0;
    border-radius: 0.5em;
    border: 2px solid transparent;
    color: #3A3960;
    font-size: 1rem;
    cursor: pointer;
    background-color: #FFF;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}
form input{
    margin-right: 0.7em;
}
form input:focus {
    border-color: #6B5EFF;
    outline: none;
    box-shadow: 0 0 10px rgba(107, 94, 255, 0.4);
}

form button {
    background: linear-gradient(45deg, #6B5EFF, #8F75FF);
    color: white;
    font-weight: bold;
}

form button:hover{
    opacity: 0.7;
    transform: scale(1.05);

}

form input:hover{
    opacity: 0.8;
    transform: scale(1.05);

}


form div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}




/***  Weather Display   ***/

#cityDisplay, #temperatureDisplay, #weatherConditionDisplay, #humidityDisplay {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

main:has(#cityDisplay:not(:empty)) #cityDisplay,
main:has(#temperatureDisplay:not(:empty)) #temperatureDisplay,
main:has(#weatherConditionDisplay:not(:empty)) #weatherConditionDisplay,
main:has(#humidityDisplay:not(:empty)) #humidityDisplay {
    opacity: 1;
    transform: translateY(0);
}




/** Responsive **/
@media (max-width: 650px) {
    main {
        padding: 1em; 
        /* height: 100%; */
        margin: 1em;
    }

    form {
        display: flex;
        flex-direction: column; 
        
    }
    form input{
        margin-right: 0em;
    }

    form input, form button {
        padding: 1em;
        margin-bottom: 1em;
    }
}